.hero {
    padding-bottom: 50px;
}

.hero__wrapper {
    position: relative;
    padding: 100px 80px;
}

.hero__content {
    position: relative;
    z-index: 11;
    max-width: 840px;
    color: var(--white);
}
.hero__slider {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.hero__slide {
  background-color: var(--gray-blue);
  background-size: cover;
  background-position: center;
}

.hero__slide--one {
  background-image: url(../img/hero0.jpg);
}

.hero__slide--two {
  background-image: url(../img/hero1.jpg);
}

.hero__slide--three {
  background-image: url(../img/hero2.jpg);
}

.hero__slider-pagination.swiper-pagination {
  bottom: 28px;
  padding-right: 40px;
  padding-left: 40px;
  line-height: 1;
}

.hero__title {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 70px;
    line-height: 85px;
    font-weight: var(--extrabold);
}

.hero__text {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 29px;
    font-weight: var(--bold);
}

.hero__text:last-of-type {
    margin-bottom: 90px;
}

.hero__btn:not(:last-child) {
    margin-bottom: 40px;
}

@media (max-width: 1280px) {
    .hero {
        padding-bottom: 42px;
    }

    .hero__wrapper {
        padding: 160px 77px;
    }

       .hero__title {
        font-size: 60px;
        line-height: 73px;
        margin-bottom: 16px;
    }

    .hero__text {
        font-size: 20px;
        line-height: 24px;
    }

    .hero__text:last-of-type {
        margin-bottom: 62px;
    }

    .hero__slide--one {
        background-image: url(../img/hero0@1024.jpg);
      }

      .hero__slide--two {
        background-image: url(../img/hero1@1024.jpg);
      }

      .hero__slide--three {
        background-image: url(../img/hero2@1024.jpg);
      }

      .hero__slider-pagination.swiper-pagination {
        bottom: 24px;
      }

}
 @media (max-width: 800px) {
     .hero__wrapper {
        padding: 160px 40px;
     }

    .hero__title {
        font-size: 50px;
        line-height: 61px;
    }

    .hero__text {
        font-size: 18px;
        line-height: 22px;
    }

    .hero__text:last-of-type {
      margin-bottom: 60px;
  }

    .hero__slide--one {
        background-image: url(../img/hero0@768.jpg);
      }

      .hero__slide--two {
        background-image: url(../img/hero1@768.jpg);
      }

      .hero__slide--three {
        background-image: url(../img/hero2@768.jpg);
      }

      .hero__slider-pagination.swiper-pagination {
        bottom: 26px;
      }

 }

 @media (max-width: 576px) {
     .hero {
         padding-bottom: 30px;
     }
    .hero__wrapper {
        padding: 60px 22px;
     }

     .hero__content {
        text-align: center;
     }
    .hero__title {
        margin-bottom: 6px;
        font-size: 20px;
        line-height: 24px;
    }

    .hero__text {
        font-size: 12px;
        line-height: 15px;
    }

    .hero__text:last-of-type {
        margin-bottom: 33px;
    }

    .hero__slide--one {
        background-image: url(../img/hero0@320.jpg);
      }

      .hero__slide--two {
        background-image: url(../img/hero1@320.jpg);
      }

      .hero__slide--three {
        background-image: url(../img/hero2@320.jpg);
      }

      .hero__slider-pagination.swiper-pagination {
        bottom: 15px;
       }
  }
